<div class="big-container">
	<div><strong>Combat</strong></div>
	<div class="row-container">
		<div>
			<div>Health</div>
			<input type="number" name="health">
		</div>
		<div>
			<div>Armor class</div>
			<input type="number" name="armorclass">
		</div>
	</div>
	<div class="row-container weapons">
		<button>+</button>
		<div class="weapon-icon"></div>
		<div>
			<div>Name</div>
			<input  class="weapon-name" type="text" name="name">
		</div>		
		<div>
			<div>Hit</div>
			<input type="number" name="hit">
		</div>
		<div>
			<div>Dmg</div>
			<input type="number" name="dmg">
		</div>		
		<div>
			<div>Range</div>
			<input type="number" name="range">
		</div>		

	</div>

	<div class="combat-abilities">
		<div>placeholder text for in combat abilities</div>
	</div>

	<div class="row-container rage">
		<button>ಠ益ಠ)</button>
		<button>ಠ益ಠ)</button>
		<button>ಠ益ಠ)</button>
		<button>ಠ益ಠ)</button>
		
	</div>




</div>